<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557342978326-rk1f820ldcqpie20s8nb9dgprh1bkftd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557342978326-rk1f820ldcqpie20s8nb9dgprh1bkftd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>557342978326-hpmn53n7t448mv2gpk8cf3f0qpe6mqhh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGPNjdf6iOXqhixHVpozGIamINN38xYnU</string>
	<key>GCM_SENDER_ID</key>
	<string>557342978326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tlaxporte4</string>
	<key>PROJECT_ID</key>
	<string>tlaxporte4</string>
	<key>STORAGE_BUCKET</key>
	<string>tlaxporte4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557342978326:ios:234988ac1e84a207082037</string>
</dict>
</plist>